form{
    text-align:center;
}
#task{
    padding: 5px;
}
#submit{
    padding: 3px 6px;
}
.sbt-btn{
    margin-top: 20px;
}
#todo-list{
    list-style-type: none;
}
body{
    background-color: antiquewhite;
}
#submit:hover{
    cursor: pointer;
    background-color: chartreuse;
}
.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
  }
  .todo-text{
    font-size: 25px;
  }
  .edit-btn,
  .remove-btn {
    margin-left: 10px;
    padding: 7px 10px;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
  }
  
  .remove-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
  }
  .err-msg{
    color: red;
    font-size: 25px;
  }


thusanxxhbwdgc
  


this is the end

